<div class="container my-4">
  <h1 class="h2 mb-4">Новая статья</h1>
  <%= simple_form_for @post, url: posts_path  do |f| %>

  <%= f.error_notification %>

  <%= f.input :title , label: 'Заголовок'%>

  <%= f.input :body , label: 'Текст' %>

  <%= f.input :post_category_id, collection: PostCategory::all, label: 'Категория' %>

  <%= f.button :submit, "Создать статью", class: "btn-primary my-2" %>

  <% end %>
</div>