<div class="container my-4">
  <div class="row bg-body rounded shadow-lg">
    <article class="col-12">
      <h1 class="mb-4 mb-lg-5"><%= @post.title %></h1>
      <p><%= @post.body %></p>
    </article>

    <div class="d-flex justify-content-between mt-5">
      <div id="post-section"><span class="me-2"><span>Автор:</span><%= @post.creator.email %></span></div>
      <div>
        <% if @like_from_current_user.nil? %>

        <%= simple_form_for :post_like, url: post_likes_path(@post) do |f| %>
        <%= f.button :button do %>
        <i class="far fa-heart"></i>
        <p>
          <%= @count_likes %>
        </p>
        <% end %>
        <% end %>

        <% else %>

        <%= simple_form_for @like_from_current_user, url: post_like_path(@post), method: 'delete' do |f| %>
        <%= f.button :button do %>
        <i class="fas fa-heart"></i>
        <p>
          <%= @count_likes %>
        </p>
        <% end %>
        <% end %>
        <% end %>

      </div>
    </div>

    <%= simple_form_for :post_comment, url: post_comments_path(@post) do |f| %>
    <%= f.input :content ,label: 'Комментарий'%>
    <%= f.button :submit, "Создать комментарии", class: "btn-primary my-2"  %>
    <% end %>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-lg">
    <h6 class="border-bottom pb-2 mb-0">Все комментарии</h6>
    <%=  render partial: "shared/comments_tree", locals: {comments: @comments, post: @post} %>
  </div>
</div>