<div class="container my-4">
    <div class="row bg-body rounded shadow-lg">
        <article class="col-12">
            <h1 class="mb-4 mb-lg-5"><%= @post.title %></h1>
            <p><%= @post.body %></p>
        </article>

        <div class="d-flex justify-content-between mt-5">
            <div id="post-section"><span class="me-2"><span>Автор:</span><%= @post.creator.email %></span></div>
            <div>
                <%= simple_form_for [ @post, @post.post_likes.build ] do |f| %>
                <%= f.button :submit, class: "btn-primary my-2"  %>
                <% end %>
                <p>
                    Понравилось: <%= @count_likes %>
                </p>
            </div>
        </div>


        <%= simple_form_for [ @post, @post.post_comments.build ] do |f| %>
        <%= f.input :content %>
        <%= f.button :submit, class: "btn-primary my-2"  %>
        <% end %>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-lg">
        <h6 class="border-bottom pb-2 mb-0">Все комментарии</h6>
        <%=  render partial: "shared/comments_tree", locals: {comments: @comments, post: @post} %>
    </div>
</div>