<!DOCTYPE html>
<html>
  <head>
    <title>RailsProjectLvl2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='main' style="padding-top: 50px">
      <a href="/users/sign_in">Войти</a>
      <a href="/users/sign_up">Зарегистрироваться</a>
      <a href="/users/sign_out">Выйти</a>
    </div>
    <%= yield %>
  </body>
</html>
